//**********************************
// Aerotis                    
//**********************************
@font-face {
  font-family: "Aerotis";
  font-style: normal;
  font-weight: 400;
  src:  url('./fonts/Aerotis.ttf') format('truetype'),
}

//**********************************
// Almara                    
//**********************************
@font-face {
  font-family: "Almara";
  font-style: normal;
  font-weight: 400;
  src:  url('./fonts/Almara.ttf') format('truetype'),
}

//**********************************
// Urbanist                    
//**********************************
@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  src:  url('./fonts/Urbanist-VariableFont_wght.ttf') format('truetype'),
}

@font-face {
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 400;
  src:  url('./fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype'),
}

